
/*
#    ####   ####  #####  #   #
#   #    # #    # #    #  # #
#   #      #    # #    #   #
#   #      #    # #####    #
#   #    # #    # #        #
#    ####   ####  #        #
http://www.patorjk.com/software/taag/#p=display&c=bash&f=Banner&t=copy
*/

.copy {
    .fontText;
    .contentContainer;
    a {
        padding: 5px 10px;
        margin: -5px;
        &:hover,
        &:active,
        &:focus {
            background-color: @buttonHoverBackgroundColor;
            text-decoration: none;
        }
    }
}

.button {
    padding: 1vw 2vw;
    &__applyPatinaTextarea {
        vertical-align: bottom;
        border-bottom: none;
    }
}

.parameters {
    dt::after { 
        content: ' :';
    }
    @media @mobile {
        dd {
            margin-bottom: 1.5rem;
        }
    }
    @media @desktop {
        dt {
            width: 185px;
        }
        dt::after { 
            float: right;
        }
        dd {
            margin-left: 210px;
            position: relative;
            top: -1.5rem;
        }
    }
    @media @widescreen {
        dd {
            top: -2rem;
        }                
    }

}