/*
#    ####   ####  #####  #   #
#   #    # #    # #    #  # #
#   #      #    # #    #   #
#   #      #    # #####    #
#   #    # #    # #        #
#    ####   ####  #        #
http://www.patorjk.com/software/taag/#p=display&c=bash&f=Banner&t=copy
*/

.copy {
    /* .fontText; */
    /* .contentContainer; */

    a:not(.button) {
        padding: 5px 10px;
        margin: -5px;

        &:hover,
        &:active,
        &:focus {
            background-color: var(--link-background-color);
            text-decoration: none;
        }
    }
}

.alert {
    background-color: var(--alert-background-color);
    border: 1px solid var(--alert-border-color);
    padding: var(--unitY) var(--unitX);
}

.code {
    /* .contentContainer; */
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    /* from GitHub */
    font-size: 1rem;
    line-height: 1.4em;
    padding: 1rem;
    background-color: var(--code-background-color);
    border: 1px solid gray;
    overflow: auto;
    white-space: pre;
}

.button {
    padding: 1vw 2vw;

}

.button__applyPatinaTextarea {
    vertical-align: bottom;
    border-bottom: none;
    text-align: left;
}

.button__nextPage {
    /* .contentContainer; */
    position: relative;
    padding: 4vw;

    &::after {
        position: absolute;
        content: '';
        right: 2vw;
        top: 50%;
        transform: translateY(-50%);
        height: 0;
        border-style: solid;
        border-color: transparent rgba(255, 255, 255, 0.2);
        border-width: 3vw 0 3vw 3vw;
    }
}


.parameters {
    dt::after {
        content: ' :';
    }

    @media screen and (max-width: 599px) {
        dd {
            margin-bottom: 1.5rem;
        }
    }

    @media screen and (min-width: 600px) {
        dt {
            width: 185px;
        }

        dt::after {
            float: right;
        }

        dd {
            margin-left: 210px;
            position: relative;
            top: -1.5rem;
        }
    }

    @media screen and (min-width: 1200px) {
        dd {
            top: -2rem;
        }
    }

}