
/*
#    ####   ####  #####  #   #
#   #    # #    # #    #  # #
#   #      #    # #    #   #
#   #      #    # #####    #
#   #    # #    # #        #
#    ####   ####  #        #
http://www.patorjk.com/software/taag/#p=display&c=bash&f=Banner&t=copy
*/

.copy {
    .fontText;
    .contentContainer;
    a:not(.button){
        padding: 5px 10px;
        margin: -5px;
        &:hover,
        &:active,
        &:focus {
            background-color: @linkBackgroundColor;
            text-decoration: none;
        }
    }
}

.code {
    .contentContainer;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace; /* from GitHub */
    font-size: 1rem;
    padding: 1rem;
    background-color: @codeBackgroundColor;
    border: 1px solid gray;
    overflow: auto;
    white-space: pre;
}

.button {
    padding: 1vw 2vw;
    &__applyPatinaTextarea {
        vertical-align: bottom;
        border-bottom: none;
        text-align: left;
    }
    &__nextPage {
        .contentContainer;
        position: relative;
        &::after {
            position: absolute;
            content: '';
            right: 2vw;
            top: 50%;
            transform: translateY(-50%);
            height: 0;
            border-style: solid;
            border-color: transparent rgba( 255, 255, 255, 0.2 );
            border-width: 3vw 0 3vw 3vw;
        }
    }
}


.parameters {
    dt::after { 
        content: ' :';
    }
    @media @mobile {
        dd {
            margin-bottom: 1.5rem;
        }
    }
    @media @desktop {
        dt {
            width: 185px;
        }
        dt::after { 
            float: right;
        }
        dd {
            margin-left: 210px;
            position: relative;
            top: -1.5rem;
        }
    }
    @media @widescreen {
        dd {
            top: -2rem;
        }                
    }

}