/*
#   #     #
#   #     # ######   ##   #####  ###### #####
#   #     # #       #  #  #    # #      #    #
#   ####### #####  #    # #    # #####  #    #
#   #     # #      ###### #    # #      #####
#   #     # #      #    # #    # #      #   #
#   #     # ###### #    # #####  ###### #    #
http://www.patorjk.com/software/taag/#p=display&c=bash&f=Header
*/

.header {
  height: 128px;
  background-color: @headerBackgroundColor;
  background-position: center;
  position: relative;
  .pagemode_homepage & {
    height: 330px; // fallback für altes Motorola
    height: 33vw;
    @media @mobile {
      height: 67vw;
      max-height: 100vh;
    }
  }
  
  &__logo {
    height: 128px;
    line-height: 128px;
    position: absolute;
    top: 50%;
    left: 39%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 400%;
    font-weight: bold; 
    text-shadow: 0 0 2px black, 0 0 1px black;
    path {
        fill: #fff;
    }
    @media @mobile {
      font-size: 15vw;
    }
    .pagemode_homepage & {
      height: 120px; // fallback für altes Motorola
      width: 370px; // fallback für altes Motorola
      height: 4 * @unitX;
      width: 12 * @unitX;
      font-size: 15vw;
      line-height: 15vw;
      @media @desktop {
        width: 10 * @unitX;
      }
    }
  }
}
.navigation {
  background-color: @buttonBackgroundColor;// rgb(150, 40, 0);
  &__link {
    display: inline-block;
    padding: 1vw 2vw;
    color: white;
    font-weight: bold;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
        background-color: @buttonHoverBackgroundColor;
        opacity: 1;
    }
    @media @desktop {
      opacity: 0.66;
      font-size: 150%;
      padding: 15px 2vw;
    }
  }
}
