/*
#   #     #
#   #     # ######   ##   #####  ###### #####
#   #     # #       #  #  #    # #      #    #
#   ####### #####  #    # #    # #####  #    #
#   #     # #      ###### #    # #      #####
#   #     # #      #    # #    # #      #   #
#   #     # ###### #    # #####  ###### #    #
http://www.patorjk.com/software/taag/#p=display&c=bash&f=Header
*/

.header {
  height: 128px;
  background-color: var(--header-background-color);
  background-position: center;
  background-size: cover;
  position: relative;

  /* background-image: conic-gradient(teal 5%, blue 22%, purple 28%, red 50%, orange 72%, green 78%, teal 95%); */
  background-image:
    radial-gradient(#706060, transparent, rgba(0, 0, 0, 0.25)),
    conic-gradient(#234246 0%, #244160 15%, #254184 20%, #2541b3 23%, #5540b3 25%, #8641b3 27%, #8b4281 30%, #894155 35%, #8b4248 50%, #8c4220 65%, #894102 70%, #8a4101 73%, #5b4100 75%, #234205 77%, #234106 80%, #264129 85%, #234246 100%);

  .pagemode_homepage & {
    height: 330px;
    /* fallback für altes Motorola*/
    max-height: 330px;
    height: 25vw;
    min-height: 128px;
  }

}

.header__before {
  position: absolute;
  inset: 0;
  background-size: 100% 100%;
  opacity: .2;
}

.header__after {
  position: absolute;
  inset: 0;
  background-size: 100% 100%;
  opacity: .8;
}

.header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  padding: 0;
  font-size: 400%;
  font-weight: bold;
  text-shadow: 0 0 1px black;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center bottom;

  background-size: 100% 100%;
  mix-blend-mode: multiply;

  &:hover,
  &:focus,
  &:active {
    color: black;
    background-color: transparent;

    mix-blend-mode: luminosity;
  }

}

.header__logo__image {
  width: 350px;
  max-width: 80vw;
  font-size: 5rem;
  line-height: 96px;

  mix-blend-mode: color-burn;

  .pagemode_homepage & {
    font-size: 10vw;
    line-height: 12vw;

    @media screen and (min-width: 600px) {
      width: calc(10 * var(--unitX));
    }
  }
}

.header__claim {
  /* .fontText; */
  position: absolute;
  bottom: 12%;
  right: 12%;
  margin: 0;

  font-weight: bold;
  text-shadow: 0 0 10px lightgray;

  @media screen and (max-width: 599px) {
    display: none;
  }
}

.navigation {
  background-color: var(--navigation-background-color);
  /* background-size: 100% 100%; */
  background-position: bottom;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.navigation:not(.patina-is-applied) {
  /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 100%); */
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0) 67%);
}

.navigation__link {
  display: inline-block;
  padding: 1vw 2vw;
  color: var(--text-color);
  opacity: 0.85;
  font-weight: bold;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: var(--link-color);
    background-color: var(--link-background-color);
    opacity: 1;
    transform: scale(1.033);
    border-top: 1px solid rgba(255, 255, 255, 0.33);
    margin-top: -1px;
  }

  @media screen and (min-width: 600px) {
    font-size: 150%;
    padding: 15px 2vw;
  }
}

.navigation__nowrap {
  white-space: nowrap;

  @media screen and (max-width: 299px) {
    white-space: unset;
  }
}