/*
#   #     #
#   ##   ## # #    # # #    #  ####
#   # # # # #  #  #  # ##   # #
#   #  #  # #   ##   # # #  #  ####
#   #     # #   ##   # #  # #      #
#   #     # #  #  #  # #   ## #    #
#   #     # # #    # # #    #  ####
http://www.patorjk.com/software/taag/#p=display&c=bash&f=Banner&t=Mixins
*/

.fontTextMobile {
  font-size: 1rem;
  line-height: 1.5rem;
}
.fontTextDesktop {
  font-size: 1.15rem;
  line-height: 1.5rem;
}
.fontTextWidescreen {
  font-size: 1.3rem;
  line-height: 2rem;
}

.fontText {
  font-weight: normal;
  .fontTextMobile;
  @media @desktop {
      .fontTextDesktop;
  }
  @media @widescreen {
      .fontTextWidescreen;
  }
}

.contentContainer {
  display: block;
  text-align: left;
  @media @mobile {
    margin: 3 * @unitY auto @unitY auto;
    width: 90vw;
  }
  @media @desktop {
      margin: 3 * @unitY auto @unitY auto;
      width: 20 * @unitX;
      max-width: 1024px;
  }

}

