/*
#  #####   ####  #####  #   # 
#  #    # #    # #    #  # #  
#  #####  #    # #    #   #   
#  #    # #    # #    #   #   
#  #    # #    # #    #   #   
#  #####   ####  #####    #   
http://www.patorjk.com/software/taag/#p=display&c=bash&f=Old%20Banner&t=body
*/

.body {
  text-align: center;
  display: block;

  @media screen and (min-width: 600px) {
    margin-top: 0;
  }
}

.body__block {

  >* {
    display: block;
    text-align: left;
    margin: calc(3 * var(--unitY)) auto var(--unitY) auto;
    width: 85vw;
    max-width: 1024px;
  }

  padding-top: calc(2 * var(--unitY));
  padding-bottom: calc(2 * var(--unitY));
  text-align: center;
  list-style-type: none;
  border-top: 1px solid var(--button-background-color);
  background: var(--body-background-color);
  color: var(--text-color);
  position: relative;
  /* for it to be above the navigation */

}

.body__block--dark {
  background-color: #cde;
}





/*
#  ######  ####   ####  ##### ###### #####
#  #      #    # #    #   #   #      #    #
#  #####  #    # #    #   #   #####  #    #
#  #      #    # #    #   #   #      #####
#  #      #    # #    #   #   #      #   #
#  #       ####   ####    #   ###### #    #
http://www.patorjk.com/software/taag/#p=display&c=bash&f=Old%20Banner&t=footer
*/

.footer {
  padding: calc(5 * var(--unitY)) 0;
  background-color: var(--navigation-background-color);
  background-repeat: repeat-x;
  color: black;
  /* .fontText; */
  text-align: center;


  a:not(.button) {
    padding: 5px 10px;
    margin: -5px;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--link-background-color);
      text-decoration: none;
    }
  }
}

.footer__githublogo {
  height: 1.5rem;
  vertical-align: text-bottom;
}