
/*
#  #####   ####  #####  #   # 
#  #    # #    # #    #  # #  
#  #####  #    # #    #   #   
#  #    # #    # #    #   #   
#  #    # #    # #    #   #   
#  #####   ####  #####    #   
http://www.patorjk.com/software/taag/#p=display&c=bash&f=Old%20Banner&t=body
*/

.body {
  text-align: center;
  display: block;
  @media @desktop {
    margin-top: 0;
  }
  &__block {
    padding-top: 2 * @unitY;
    padding-bottom: 2 * @unitY;
    text-align: center;
    list-style-type: none;
    background: rgb(249, 248, 248);
    border-top: 1px solid white;

    &--dark {
      background-color: #cde;
    }
  }
}





/*
#  ######  ####   ####  ##### ###### #####
#  #      #    # #    #   #   #      #    #
#  #####  #    # #    #   #   #####  #    #
#  #      #    # #    #   #   #      #####
#  #      #    # #    #   #   #      #   #
#  #       ####   ####    #   ###### #    #
http://www.patorjk.com/software/taag/#p=display&c=bash&f=Old%20Banner&t=footer
*/

.footer {
  padding: 5 * @unitY 0;
  background-color: @headerBackgroundColor;
  background-repeat: repeat-x;
  color: black;
  .fontText;
  text-align: center;
  &__githublogo {
    height: 1.5rem;
    vertical-align: text-bottom;
  }
  a:not(.button){
    padding: 5px 10px;
    margin: -5px;
    &:hover,
    &:active,
    &:focus {
        background-color: @linkBackgroundColor;
        text-decoration: none;
    }
  }
}
