.pattern__thumbnail {
    background-color: var(--button-hover-background-color);
    /*
    background-size: contain;
    */
    margin: 1vw;
    display: inline-block;
    vertical-align: top;
    width: 256px;
    height: 256px;
    padding: 10px 20px;

    max-width: 100%;

    color: white;
    text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black;

    @media screen and (max-width: 299px) {
        width: 88vw;
        height: 88vw;
    }

}

.pattern__thumbnail--lineHeight {
    width: 128px;
    height: 1.8rem;
    margin: 0 1vw 0 0;
    outline: 1px solid white;
}

.pattern__thumbnail--128 {
    width: 128px;
    height: 128px;
    padding: 5px;

    font-size: 1.15rem;
    line-height: 1.5rem;
    ;
    /*/ so it is not too big in widescreen mode */
}

/*
.pattern__thumbnail--256 {
    width: 256px;
    height: 256px;
}*/
.pattern__thumbnail--512 {
    width: 512px;
    height: 512px;
}

.pattern__thumbnail--clickable {
    background-color: var(--button-background-color);

    &:hover,
    &:active,
    &:focus {
        transform: scale(1.033);
        background-color: var(--button-hover-background-color);
        text-decoration: none;
        color: white;
    }
}

.pattern__thumbnail--nomargin {
    margin: 0 0 2vw 0;
}

.pattern__textInbetween {
    font-size: 2.5rem;
    line-height: 130px;
    vertical-align: middle;

    @media screen and (max-width: 299px) {
        line-height: 48px;
    }
}