
/*
#    ####    ##   #      #      ###### #####  #   #
#   #    #  #  #  #      #      #      #    #  # #
#   #      #    # #      #      #####  #    #   #
#   #  ### ###### #      #      #      #####    #
#   #    # #    # #      #      #      #   #    #
#    ####  #    # ###### ###### ###### #    #   #
http://www.patorjk.com/software/taag/#p=display&c=bash&f=Banner&t=gallery
*/
.pattern {
    .contentContainer;
    &__thumbnails {
        background-color: @backgroundColor;
        margin: 1vw;
        display: inline-block;
        vertical-align: top;
        width: 300px;
        height: 300px;

        color: white;
        font-weight: bold;
        text-shadow: 0 0 1px black;
        padding: 5px;

        @media @desktop {
            max-width: 36vw;
            max-height: 36vw;
        }
        @media @mobile {
            width: 42vw;
            height: 42vw;
            margin: 1vw;
        }
        @media @submobile {
            width: 88vw;
            height: 88vw;
        }
        &--128 {
            width: 128px;
            height: 128px;
        }
        &--256 {
            width: 256px;
            height: 256px;
        }
    }
    &__textInbetween {
        font-size: 2.5rem;
        line-height: 148px;
        vertical-align: middle;
        @media @submobile {
            line-height: 48px;
        }
    }
}
