.pattern {
    .contentContainer;
    .fontText;

    &__thumbnail {
        background-color: @backgroundColor;
        /*
        background-size: contain;
        */
        margin: 1vw;
        display: inline-block;
        vertical-align: top;
        width: 256px;
        height: 256px;
        padding: 10px 20px;

        max-width: 100%;

        color: white;
        text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black;

        @media @submobile {
            width: 88vw;
            height: 88vw;
        }

        &--lineHeight {
            width: 128px;
            height: 1.8rem;
            margin: 0 1vw 0 0;
            outline: 1px solid white;
        }

        &--128 {
            width: 128px;
            height: 128px;
            padding: 5px;
            .fontTextDesktop; // so it is not too big in widescreen mode
        }

        /*
        &--256 {
            width: 256px;
            height: 256px;
        }*/
        &--512 {
            width: 512px;
            height: 512px;
        }

        &--clickable {
            background-color: @buttonBackgroundColor;

            &:hover,
            &:active,
            &:focus {
                transform: scale(1.033);
                background-color: @buttonHoverBackgroundColor;
                text-decoration: none;
                color: white;
            }
        }

        &--nomargin {
            margin: 0 0 2vw 0;
        }
    }

    &__textInbetween {
        font-size: 2.5rem;
        line-height: 130px;
        vertical-align: middle;

        @media @submobile {
            line-height: 48px;
        }
    }
}