/*
#   #     #
#   #     #   ##   #####  #   ##   #####  #      ######  ####
#   #     #  #  #  #    # #  #  #  #    # #      #      #
#   #     # #    # #    # # #    # #####  #      #####   ####
#    #   #  ###### #####  # ###### #    # #      #           #
#     # #   #    # #   #  # #    # #    # #      #      #    #
#      #    #    # #    # # #    # #####  ###### ######  ####
http://www.patorjk.com/software/taag/#p=display&c=bash&f=Banner&t=Variables
*/

@submobile:    ~"screen and (max-width: 299px)";
@mobile:    ~"screen and (max-width: 599px)";
@desktop:    ~"screen and (min-width: 600px)";
@widescreen: ~"screen and (min-width: 1200px)";

@unitX: 4vw;
@unitY: 1rem;

@textColor: black;
@white: white;
@backgroundColor: #e84000;
@headerBackgroundColor: @backgroundColor;
@linkColor: #252050; //678
@linkBackgroundColor: #e0d8e8; //eea;
@buttonBackgroundColor: #fff999;
@buttonHoverBackgroundColor: #867e00;
@buttonActiveBackgroundColor: @buttonHoverBackgroundColor;

@linkColor: @buttonHoverBackgroundColor;
