/*
#   #     #
#   #     #   ##   #####  #   ##   #####  #      ######  ####
#   #     #  #  #  #    # #  #  #  #    # #      #      #
#   #     # #    # #    # # #    # #####  #      #####   ####
#    #   #  ###### #####  # ###### #    # #      #           #
#     # #   #    # #   #  # #    # #    # #      #      #    #
#      #    #    # #    # # #    # #####  ###### ######  ####
http://www.patorjk.com/software/taag/#p=display&c=bash&f=Banner&t=Variables
*/

:root {
    /*/ #f2ffc1; // #fee689; // #f4ae28; // #e84000;*/
    /*/ rgba(102, 136, 0, 1); */
    /*/ rgba(102, 136, 0, 1); // #495e12; */
    /*/ #445c19;*/
    /*/ rgba(102, 136, 0, 0.5);*/

    --background-color: #e8c08d;
    --body-background-color: #eee;
    --text-color: black;
    --button-background-color: #2f1404;
    --button-hover-background-color: black;
    --link-color: #481b00;
    --link-background-color: #481b003d;

    --background-color: #cde0e1;
    --body-background-color: #eee;
    --text-color: black;
    --button-background-color: #042f33;
    --button-hover-background-color: #042f33;
    --link-color: #054c53;
    --link-background-color: #00707b2e;

    --link-color: rgb(21, 128, 0);
    --link-background-color: rgb(from var(--link-color) r g b / 0.2);

    /* this will not get overwritten by dark theme */
    --code-background-color: var(--navigation-background-color);
    --alert-border-color: red;
    --alert-background-color: rgb(from var(--alert-border-color) r g b / 0.2);

    --header-background-color: var(--background-color);
    --navigation-background-color: var(--background-color);

    --unitX: 4vw;
    --unitY: 1rem;
}