/*
#   #     #
#   #     #   ##   #####  #   ##   #####  #      ######  ####
#   #     #  #  #  #    # #  #  #  #    # #      #      #
#   #     # #    # #    # # #    # #####  #      #####   ####
#    #   #  ###### #####  # ###### #    # #      #           #
#     # #   #    # #   #  # #    # #    # #      #      #    #
#      #    #    # #    # # #    # #####  ###### ######  ####
http://www.patorjk.com/software/taag/#p=display&c=bash&f=Banner&t=Variables
*/
/*
#   #     #
#   ##   ## # #    # # #    #  ####
#   # # # # #  #  #  # ##   # #
#   #  #  # #   ##   # # #  #  ####
#   #     # #   ##   # #  # #      #
#   #     # #  #  #  # #   ## #    #
#   #     # # #    # # #    #  ####
http://www.patorjk.com/software/taag/#p=display&c=bash&f=Banner&t=Mixins
*/
.centerX {
  display: -ms-flexbox;
  -ms-flex-pack: center;
  display: flex;
  justify-content: center;
}
.centerXY {
  display: -ms-flexbox;
  -ms-flex-pack: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.marginLeftRightAuto {
  margin-left: auto;
  margin-right: auto;
}
.beforeAfter {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.fontTextMobile {
  font-size: 1rem;
  line-height: 1.5rem;
}
.fontTextDesktop {
  font-size: 1.15rem;
  line-height: 1.5rem;
}
.fontTextWidescreen {
  font-size: 1.3rem;
  line-height: 2rem;
}
.fontHeadingMobile {
  font-size: 2.5rem;
  line-height: 2.5rem;
}
.fontHeadingDesktop {
  font-size: 2.5rem;
  line-height: 2.5rem;
}
.fontText {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 600px) {
  .fontText {
    font-size: 1.15rem;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .fontText {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
.fontHeading {
  font-size: 2.5rem;
  line-height: 2.5rem;
}
@media screen and (min-width: 600px) {
  .fontHeading {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}
.fontSubHeading {
  font-size: 2rem;
  line-height: 2.5rem;
}
.contentContainer {
  display: block;
  text-align: left;
}
@media screen and (max-width: 599px) {
  .contentContainer {
    margin: 3rem auto 1rem auto;
    width: 90vw;
  }
}
@media screen and (min-width: 600px) {
  .contentContainer {
    margin: 3rem auto 1rem auto;
    width: 80vw;
    max-width: 1024px;
  }
}
.buttonColors {
  background-color: #668800;
  border: 1px solid #495e12;
  border-radius: 2px;
}
.buttonColors:hover,
.buttonColors:active,
.buttonColors:focus {
  background-color: #495e12;
  box-shadow: 2px 2px 8px lightgray;
  color: white;
  transform: scale(1.025);
}
.buttonColors:active {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
}
/*
#   ######
#   #     #   ##    ####  ######
#   #     #  #  #  #      #
#   ######  #    #  ####  #####
#   #     # ######      # #
#   #     # #    # #    # #
#   ######  #    #  ####  ######
http://www.patorjk.com/software/taag/#p=display&c=bash&f=Banner&t=Base
*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Ubuntu", "DejaVu Sans Condensed", "Calibri", sans-serif;
  line-height: 1.4em;
}
a {
  color: #495e12;
  padding: 5px;
}
a:active,
a:focus,
a:hover {
  background-color: #495e12;
  color: black;
}
a.link-disabled.link-disabled {
  background-color: black;
  opacity: .25;
  cursor: default;
  pointer-events: none;
}
ul {
  padding: 0;
}
img {
  max-width: 100vw;
}
h1,
h2,
h3 {
  font-weight: normal;
}
h1 {
  display: block;
  text-align: left;
  font-size: 2.5rem;
  line-height: 2.5rem;
}
@media screen and (max-width: 599px) {
  h1 {
    margin: 3rem auto 1rem auto;
    width: 90vw;
  }
}
@media screen and (min-width: 600px) {
  h1 {
    margin: 3rem auto 1rem auto;
    width: 80vw;
    max-width: 1024px;
  }
}
@media screen and (min-width: 600px) {
  h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}
h2 {
  display: block;
  text-align: left;
  font-size: 2rem;
  line-height: 2.5rem;
}
@media screen and (max-width: 599px) {
  h2 {
    margin: 3rem auto 1rem auto;
    width: 90vw;
  }
}
@media screen and (min-width: 600px) {
  h2 {
    margin: 3rem auto 1rem auto;
    width: 80vw;
    max-width: 1024px;
  }
}
.button {
  background-color: #668800;
  border: 1px solid #495e12;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  color: white;
  border-radius: 2px;
  text-decoration: none;
}
.button:hover,
.button:active,
.button:focus {
  background-color: #495e12;
  box-shadow: 2px 2px 8px lightgray;
  color: white;
  transform: scale(1.025);
}
.button:active {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 600px) {
  .button {
    font-size: 1.15rem;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .button {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
.button--disabled {
  opacity: 0.5;
  background-color: #668800;
}
.button--big {
  padding: 1rem;
  margin: 1rem 0;
  display: inline-block;
}
.enable_per_JS {
  display: none;
}
/*
#   #     #
#   #     # ######   ##   #####  ###### #####
#   #     # #       #  #  #    # #      #    #
#   ####### #####  #    # #    # #####  #    #
#   #     # #      ###### #    # #      #####
#   #     # #      #    # #    # #      #   #
#   #     # ###### #    # #####  ###### #    #
http://www.patorjk.com/software/taag/#p=display&c=bash&f=Header
*/
.header {
  height: 128px;
  background-color: #fee689;
  background-position: center;
  position: relative;
}
.pagemode_homepage .header {
  height: 330px;
  height: 25vw;
  min-height: 128px;
}
.header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 400%;
  font-weight: bold;
  text-shadow: 0 0 1px black;
  text-decoration: none;
}
.header__logo:hover,
.header__logo:focus,
.header__logo:active {
  color: black;
  background-color: rgba(102, 136, 0, 0.5);
}
.header__logo__image {
  width: 350px;
  max-width: 80vw;
  font-size: 5rem;
  line-height: 96px;
}
.pagemode_homepage .header__logo__image {
  font-size: 10vw;
  line-height: 12vw;
}
@media screen and (min-width: 600px) {
  .pagemode_homepage .header__logo__image {
    width: 40vw;
  }
}
.header__claim {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  position: absolute;
  bottom: 12%;
  right: 12%;
  margin: 0;
}
@media screen and (min-width: 600px) {
  .header__claim {
    font-size: 1.15rem;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .header__claim {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
@media screen and (max-width: 599px) {
  .header__claim {
    display: none;
  }
}
.navigation {
  background-color: #668800;
  background-size: 100% 100%;
  background-position: center;
}
.navigation__link {
  display: inline-block;
  padding: 1vw 2vw;
  color: white;
  opacity: 0.85;
  font-weight: bold;
  text-decoration: none;
}
.navigation__link:hover,
.navigation__link:active,
.navigation__link:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
}
@media screen and (min-width: 600px) {
  .navigation__link {
    font-size: 150%;
    padding: 15px 2vw;
  }
}
.navigation__nowrap {
  white-space: nowrap;
}
@media screen and (max-width: 299px) {
  .navigation__nowrap {
    white-space: unset;
  }
}
/*
#   #####
#  #     #  ####  #    # ##### ###### #    # #####
#  #       #    # ##   #   #   #      ##   #   #
#  #       #    # # #  #   #   #####  # #  #   #
#  #       #    # #  # #   #   #      #  # #   #
#  #     # #    # #   ##   #   #      #   ##   #
#   #####   ####  #    #   #   ###### #    #   #
http://www.patorjk.com/software/taag/#p=display&c=bash&f=Old%20Banner&t=Content
*/
.content {
  text-align: center;
  display: block;
}
@media screen and (min-width: 600px) {
  .content {
    margin-top: 0;
  }
}
.content__block {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  list-style-type: none;
}
.content__block--dark {
  background-color: #cde;
}
/*
#  ######  ####   ####  ##### ###### #####
#  #      #    # #    #   #   #      #    #
#  #####  #    # #    #   #   #####  #    #
#  #      #    # #    #   #   #      #####
#  #      #    # #    #   #   #      #   #
#  #       ####   ####    #   ###### #    #
http://www.patorjk.com/software/taag/#p=display&c=bash&f=Old%20Banner&t=footer
*/
.footer {
  padding: 5rem 0;
  background-color: #fee689;
  background-repeat: repeat-x;
  color: black;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}
@media screen and (min-width: 600px) {
  .footer {
    font-size: 1.15rem;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
.footer__githublogo {
  height: 1.5rem;
  vertical-align: text-bottom;
}
.footer a:not(.button) {
  padding: 5px 10px;
  margin: -5px;
}
.footer a:not(.button):hover,
.footer a:not(.button):active,
.footer a:not(.button):focus {
  background-color: rgba(102, 136, 0, 0.5);
  text-decoration: none;
}
/*
#    ####   ####  #####  #   #
#   #    # #    # #    #  # #
#   #      #    # #    #   #
#   #      #    # #####    #
#   #    # #    # #        #
#    ####   ####  #        #
http://www.patorjk.com/software/taag/#p=display&c=bash&f=Banner&t=copy
*/
.copy {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  display: block;
  text-align: left;
}
@media screen and (min-width: 600px) {
  .copy {
    font-size: 1.15rem;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .copy {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
@media screen and (max-width: 599px) {
  .copy {
    margin: 3rem auto 1rem auto;
    width: 90vw;
  }
}
@media screen and (min-width: 600px) {
  .copy {
    margin: 3rem auto 1rem auto;
    width: 80vw;
    max-width: 1024px;
  }
}
.copy a:not(.button) {
  padding: 5px 10px;
  margin: -5px;
}
.copy a:not(.button):hover,
.copy a:not(.button):active,
.copy a:not(.button):focus {
  background-color: rgba(102, 136, 0, 0.5);
  text-decoration: none;
}
.alert {
  background-color: #ffc0cb;
  border: 1px solid #ff0000;
  padding: 1rem 4vw;
}
.code {
  display: block;
  text-align: left;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  /* from GitHub */
  font-size: 1rem;
  padding: 1rem;
  background-color: #fee689;
  border: 1px solid gray;
  overflow: auto;
  white-space: pre;
}
@media screen and (max-width: 599px) {
  .code {
    margin: 3rem auto 1rem auto;
    width: 90vw;
  }
}
@media screen and (min-width: 600px) {
  .code {
    margin: 3rem auto 1rem auto;
    width: 80vw;
    max-width: 1024px;
  }
}
.button {
  padding: 1vw 2vw;
}
.button__applyPatinaTextarea {
  vertical-align: bottom;
  border-bottom: none;
  text-align: left;
}
.button__nextPage {
  display: block;
  text-align: left;
  position: relative;
}
@media screen and (max-width: 599px) {
  .button__nextPage {
    margin: 3rem auto 1rem auto;
    width: 90vw;
  }
}
@media screen and (min-width: 600px) {
  .button__nextPage {
    margin: 3rem auto 1rem auto;
    width: 80vw;
    max-width: 1024px;
  }
}
.button__nextPage::after {
  position: absolute;
  content: '';
  right: 2vw;
  top: 50%;
  transform: translateY(-50%);
  height: 0;
  border-style: solid;
  border-color: transparent rgba(255, 255, 255, 0.2);
  border-width: 3vw 0 3vw 3vw;
}
.parameters dt::after {
  content: ' :';
}
@media screen and (max-width: 599px) {
  .parameters dd {
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 600px) {
  .parameters dt {
    width: 185px;
  }
  .parameters dt::after {
    float: right;
  }
  .parameters dd {
    margin-left: 210px;
    position: relative;
    top: -1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .parameters dd {
    top: -2rem;
  }
}
.pattern {
  display: block;
  text-align: left;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
}
@media screen and (max-width: 599px) {
  .pattern {
    margin: 3rem auto 1rem auto;
    width: 90vw;
  }
}
@media screen and (min-width: 600px) {
  .pattern {
    margin: 3rem auto 1rem auto;
    width: 80vw;
    max-width: 1024px;
  }
}
@media screen and (min-width: 600px) {
  .pattern {
    font-size: 1.15rem;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .pattern {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
.pattern__thumbnails {
  background-color: #fee689;
  margin: 1vw;
  display: inline-block;
  vertical-align: top;
  width: 256px;
  height: 256px;
  padding: 10px 20px;
  max-width: 100%;
  color: white;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black;
  /*
        &--256 {
            width: 256px;
            height: 256px;
        }*/
}
@media screen and (max-width: 299px) {
  .pattern__thumbnails {
    width: 88vw;
    height: 88vw;
  }
}
.pattern__thumbnails--lineHeight {
  width: 128px;
  height: 1.8rem;
  margin: 0 1vw 0 0;
  outline: 1px solid white;
}
.pattern__thumbnails--128 {
  width: 128px;
  height: 128px;
  padding: 5px;
  font-size: 1.15rem;
  line-height: 1.5rem;
}
.pattern__thumbnails--512 {
  width: 512px;
  height: 512px;
}
.pattern__thumbnails--clickable {
  background-color: #668800;
}
.pattern__thumbnails--clickable:hover,
.pattern__thumbnails--clickable:active,
.pattern__thumbnails--clickable:focus {
  transform: scale(1.033);
  background-color: #495e12;
  text-decoration: none;
  color: white;
}
.pattern__thumbnails--nomargin {
  margin: 0 0 2vw 0;
}
.pattern__textInbetween {
  font-size: 2.5rem;
  line-height: 130px;
  vertical-align: middle;
}
@media screen and (max-width: 299px) {
  .pattern__textInbetween {
    line-height: 48px;
  }
}
.pixelPaintingInstructions {
  font-size: 4vw;
  line-height: 1.5;
}
.PPI-branch {
  width: 50%;
  font-size: 75%;
  float: left;
}
.PPI-branch--fourChildren > .PPI-branch {
  width: 25%;
  font-size: 40%;
}
.PPI-branch--fourChildren > .PPI-branch--left,
.PPI-branch--fourChildren > .PPI-branch--right {
  width: 20%;
  margin: 0 2.5%;
}
.PPI-branch--left,
.PPI-branch--right {
  width: 45%;
  margin: 0 2.25%;
}
.PPI-root,
.PPI-node {
  width: 80%;
  margin-left: 20%;
  margin-bottom: 20px;
  background: #fee689;
  display: inline-block;
  position: relative;
  border: 1px solid #808080;
}
.PPI-node::before {
  content: '';
  position: absolute;
  left: 50%;
  top: -22px;
  height: 22px;
  width: 2px;
  background-color: #808080;
}
.PPI-root {
  width: 60%;
  margin-right: 20%;
  margin-left: 20%;
}
.PPI-branch--right .PPI-node {
  margin-right: 20%;
  margin-left: 0;
}
