/*
#   #     #
#   #     #   ##   #####  #   ##   #####  #      ######  ####
#   #     #  #  #  #    # #  #  #  #    # #      #      #
#   #     # #    # #    # # #    # #####  #      #####   ####
#    #   #  ###### #####  # ###### #    # #      #           #
#     # #   #    # #   #  # #    # #    # #      #      #    #
#      #    #    # #    # # #    # #####  ###### ######  ####
http://www.patorjk.com/software/taag/#p=display&c=bash&f=Banner&t=Variables
*/
/*
#   #     #
#   ##   ## # #    # # #    #  ####
#   # # # # #  #  #  # ##   # #
#   #  #  # #   ##   # # #  #  ####
#   #     # #   ##   # #  # #      #
#   #     # #  #  #  # #   ## #    #
#   #     # # #    # # #    #  ####
http://www.patorjk.com/software/taag/#p=display&c=bash&f=Banner&t=Mixins
*/
.centerX {
  display: -ms-flexbox;
  -ms-flex-pack: center;
  display: flex;
  justify-content: center;
}
.centerXY {
  display: -ms-flexbox;
  -ms-flex-pack: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.marginLeftRightAuto {
  margin-left: auto;
  margin-right: auto;
}
.beforeAfter {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.fontTextMobile {
  font-size: 1rem;
  line-height: 1.5rem;
}
.fontTextDesktop {
  font-size: 1.15rem;
  line-height: 1.5rem;
}
.fontTextWidescreen {
  font-size: 1.3rem;
  line-height: 2rem;
}
.fontHeadingMobile {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: normal;
}
.fontHeadingDesktop {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: normal;
}
.fontText {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 600px) {
  .fontText {
    font-size: 1.15rem;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .fontText {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
.fontHeading {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: normal;
}
@media screen and (min-width: 600px) {
  .fontHeading {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: normal;
  }
}
.textElement {
  text-align: left;
}
@media screen and (max-width: 599px) {
  .textElement {
    margin: 1rem auto 1rem auto;
    width: 88vw;
  }
}
.buttonColors {
  background-color: #d6c5d9;
}
.buttonColors:hover,
.buttonColors:active,
.buttonColors:focus {
  background-color: #e0d8e8;
  color: black;
}
.buttonColors:active {
  background-color: #bab3c9;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
}
/*
#   ######
#   #     #   ##    ####  ######
#   #     #  #  #  #      #
#   ######  #    #  ####  #####
#   #     # ######      # #
#   #     # #    # #    # #
#   ######  #    #  ####  ######
http://www.patorjk.com/software/taag/#p=display&c=bash&f=Banner&t=Base
*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Ubuntu", "DejaVu Sans Condensed", "Calibri", sans-serif;
  line-height: 1.4em;
}
a {
  text-decoration: none;
  color: #252050;
}
a.link-disabled.link-disabled {
  background-color: black;
  opacity: 0.25;
  cursor: default;
  pointer-events: none;
}
ul {
  padding: 0;
}
img {
  max-width: 100vw;
}
h1,
h2,
h3 {
  font-weight: normal;
}
h1 {
  text-align: left;
  font-size: 2.5rem;
  line-height: 2.5rem;
}
@media screen and (max-width: 599px) {
  h1 {
    margin: 1rem auto 1rem auto;
    width: 88vw;
  }
}
h2 {
  text-align: left;
  font-size: 2rem;
  line-height: 2.5rem;
}
@media screen and (max-width: 599px) {
  h2 {
    margin: 1rem auto 1rem auto;
    width: 88vw;
  }
}
.button {
  background-color: #d6c5d9;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  border: none;
  border-radius: 2px;
}
.button:hover,
.button:active,
.button:focus {
  background-color: #e0d8e8;
  color: black;
}
.button:active {
  background-color: #bab3c9;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 600px) {
  .button {
    font-size: 1.15rem;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .button {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
.button--disabled {
  opacity: 0.5;
  background-color: #d6c5d9;
}
.button--big {
  padding: 1rem;
  margin: 1rem 0;
  display: inline-block;
}
.enable_per_JS {
  display: none;
}
/*
#   #     #
#   #     # ######   ##   #####  ###### #####
#   #     # #       #  #  #    # #      #    #
#   ####### #####  #    # #    # #####  #    #
#   #     # #      ###### #    # #      #####
#   #     # #      #    # #    # #      #   #
#   #     # ###### #    # #####  ###### #    #
http://www.patorjk.com/software/taag/#p=display&c=bash&f=Header
*/
.header {
  height: 330px;
  height: 33vw;
  background-color: #7f3122;
  background-size: cover;
  background-position: center;
  position: relative;
}
.author-Marek .header {
  background-image: url('../../bilder/blog/images/page/background/170305_Selbstbildnis_desktop.jpg');
}
.author-Monika .header {
  background-color: #436aad;
  background-image: url('../../bilder/blog/images/page/background/170613_Sonnenbrille_desktop.jpg');
}
.author-Jakob .header {
  background-color: #6a6551;
  background-image: url('../../bilder/jakobs-tagebuch/images/page/background/171116_dunklerHimmel_desktop.jpg');
}
@media screen and (max-width: 599px) {
  .header {
    height: 67vw;
    max-height: 100vh;
  }
  .author-Marek .header {
    background-image: url('../../bilder/blog/images/page/background/170305_Selbstbildnis_mobile.jpg');
  }
  .author-Monika .header {
    background-image: url('../../bilder/blog/images/page/background/170613_Sonnenbrille_mobile.jpg');
  }
  .author-Jakob .header {
    background-image: url('../../bilder/jakobs-tagebuch/images/page/background/171116_dunklerHimmel_mobile.jpg');
  }
}
.header__marek-logo {
  height: 120px;
  width: 370px;
  height: 16vw;
  width: 48vw;
  transition: transform 0.5s ease;
  cursor: pointer;
  /* z-index: 1; removed for mediumZoom */
  position: absolute;
  top: 50%;
  left: 39%;
  transform: translate(-50%, -50%);
}
.header__marek-logo path {
  fill: #fff;
}
.header__marek-logo.keram_rotated {
  transform: translate(-50%, -50%) rotate(180deg);
}
@media screen and (min-width: 600px) {
  .header__marek-logo {
    width: 40vw;
  }
}
.header__navigation {
  position: absolute;
  color: white;
  padding: 20px;
  padding: 6vw;
  font-size: 24px;
  font-size: 6vw;
  line-height: 8vw;
  font-weight: bold;
  text-decoration: none;
}
.pagemode_homepage .header__navigation {
  opacity: 0;
  pointer-events: none;
}
.header__navigation:hover,
.header__navigation:active,
.header__navigation:focus {
  background-color: rgba(0, 0, 0, 0.33);
  opacity: 1;
}
.header__navigation:focus {
  opacity: 1;
}
@media screen and (min-width: 600px) {
  .header__navigation {
    opacity: 0.66;
    font-size: 4vw;
    line-height: 1vw;
    padding: 4vw;
  }
}
.header__navigation--home {
  top: 0;
  left: 0;
}
.header__navigation--posts {
  left: 0;
  bottom: 0;
  opacity: 1;
  padding: 0;
  /* z-index: 1; removed for mediumZoom */
}
.header__navigation--posts:hover,
.header__navigation--posts:active,
.header__navigation--posts:focus {
  background: none;
}
.header__navigation--next {
  position: initial;
  float: right;
  padding-right: 12vw;
}
@media screen and (min-width: 600px) {
  .header__navigation--next {
    padding-right: 8vw;
  }
}
.header__navigation--prev {
  position: relative;
  float: left;
  padding-left: 12vw;
}
@media screen and (min-width: 600px) {
  .header__navigation--prev {
    padding-left: 8vw;
  }
}
/*
#   ###
#    #   ####   ####  #    #  ####
#    #  #    # #    # ##   # #
#    #  #      #    # # #  #  ####
#    #  #      #    # #  # #      #
#    #  #    # #    # #   ## #    #
#   ###  ####   ####  #    #  ####
http://www.patorjk.com/software/taag/#p=display&c=bash&f=Banner&t=Icons
*/
.icon__arrow-prev:before,
.icon__arrow-next:before,
.icon__arrow-prev:after,
.icon__arrow-next:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border-radius: 0.25vw;
  width: 2vw;
}
@media screen and (min-width: 600px) {
  .icon__arrow-prev:before,
  .icon__arrow-next:before,
  .icon__arrow-prev:after,
  .icon__arrow-next:after {
    width: 1vw;
  }
}
.icon__arrow-prev:before,
.icon__arrow-next:before {
  top: 25%;
  bottom: 50%;
}
.icon__arrow-prev:after,
.icon__arrow-next:after {
  top: 50%;
  bottom: 25%;
}
.icon__arrow-prev:before {
  right: auto;
  left: 4vw;
  transform: rotate(45deg);
  transform-origin: bottom left;
}
.icon__arrow-prev:after {
  right: auto;
  left: 4vw;
  transform: rotate(-45deg);
  transform-origin: top left;
}
.icon__arrow-next:before {
  left: auto;
  right: 4vw;
  transform: rotate(-45deg);
  transform-origin: bottom right;
}
.icon__arrow-next:after {
  left: auto;
  right: 4vw;
  transform: rotate(45deg);
  transform-origin: top right;
}
.icon__home:before {
  content: '';
  display: inline-block;
  background: transparent url('../../bilder/blog/images/page/icons/head__navigation__home__icon.svg') center center no-repeat;
  background-size: contain;
  height: 8vw;
  width: 6vw;
  margin: -1vw 0;
}
@media screen and (min-width: 600px) {
  .icon__home:before {
    height: 4.5vw;
    width: 3vw;
    margin-top: -3vw;
    margin-bottom: -0.25vw;
  }
}
/*
#  #######
#     #    ######   ##    ####  ###### #####
#     #    #       #  #  #      #      #    #
#     #    #####  #    #  ####  #####  #    #
#     #    #      ######      # #      #####
#     #    #      #    # #    # #      #   #
#     #    ###### #    #  ####  ###### #    #
http://www.patorjk.com/software/taag/#p=display&c=bash&f=Old%20Banner&t=Teaser
*/
.teaser {
  padding-bottom: 2rem;
}
@media screen and (min-width: 600px) {
  .teaser {
    width: 76vw;
    padding-bottom: 1rem;
  }
}
.teaser__heading,
.teaser__text {
  text-align: left;
  width: 88vw;
}
@media screen and (max-width: 599px) {
  .teaser__heading,
  .teaser__text {
    margin: 1rem auto 1rem auto;
    width: 88vw;
  }
}
@media screen and (min-width: 600px) {
  .teaser__heading,
  .teaser__text {
    width: 76vw;
  }
}
.teaser__heading {
  margin-top: 2rem;
  margin-bottom: 4rem;
}
/*
#   #####
#  #     #  ####  #    # ##### ###### #    # #####
#  #       #    # ##   #   #   #      ##   #   #
#  #       #    # # #  #   #   #####  # #  #   #
#  #       #    # #  # #   #   #      #  # #   #
#  #     # #    # #   ##   #   #      #   ##   #
#   #####   ####  #    #   #   ###### #    #   #
http://www.patorjk.com/software/taag/#p=display&c=bash&f=Old%20Banner&t=Content
*/
.content {
  text-align: center;
  display: block;
}
@media screen and (min-width: 600px) {
  .content {
    margin-top: 0;
  }
}
.content__block {
  padding-top: 2rem;
  padding-bottom: 2rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  .content__block {
    display: -ms-flexbox;
    -ms-flex-pack: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}
.content__block--dark {
  background-color: #cde;
}
/*
#  ######
#  #     # #       ####   ####  #####   ####   ####  #####
#  #     # #      #    # #    # #    # #    # #        #
#  ######  #      #    # #      #    # #    #  ####    #
#  #     # #      #    # #  ### #####  #    #      #   #
#  #     # #      #    # #    # #      #    # #    #   #
#  ######  ######  ####   ####  #       ####   ####    #
http://www.patorjk.com/software/taag/#p=display&c=bash&f=Old%20Banner&t=Blogpost
*/
.blogpost__date {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 14px 0 0 4vw;
}
@media screen and (min-width: 600px) {
  .blogpost__date {
    font-size: 1.15rem;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .blogpost__date {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 600px) {
  .blogpost__date {
    float: right;
  }
}
.blogpost__heading,
.blogpost__text {
  text-align: left;
  width: 88vw;
}
@media screen and (max-width: 599px) {
  .blogpost__heading,
  .blogpost__text {
    margin: 1rem auto 1rem auto;
    width: 88vw;
  }
}
@media screen and (min-width: 600px) {
  .blogpost__heading,
  .blogpost__text {
    width: 76vw;
  }
}
.blogpost__heading {
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.blogpost__heading--small {
  margin-top: 4rem;
  margin-bottom: 2rem;
}
/*
#  ######  ####   ####  ##### ###### #####
#  #      #    # #    #   #   #      #    #
#  #####  #    # #    #   #   #####  #    #
#  #      #    # #    #   #   #      #####
#  #      #    # #    #   #   #      #   #
#  #       ####   ####    #   ###### #    #
http://www.patorjk.com/software/taag/#p=display&c=bash&f=Old%20Banner&t=footer
*/
.footer {
  padding: 5rem;
  background-color: #7f3122;
  color: white;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}
@media screen and (min-width: 600px) {
  .footer {
    font-size: 1.15rem;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
/*
#    ####   ####  #####  #   #
#   #    # #    # #    #  # #
#   #      #    # #    #   #
#   #      #    # #####    #
#   #    # #    # #        #
#    ####   ####  #        #
http://www.patorjk.com/software/taag/#p=display&c=bash&f=Banner&t=copy
*/
.copy {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: left;
}
@media screen and (min-width: 600px) {
  .copy {
    font-size: 1.15rem;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .copy {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
@media screen and (max-width: 599px) {
  .copy {
    margin: 1rem auto 1rem auto;
    width: 88vw;
  }
}
@media screen and (min-width: 600px) {
  .copy {
    width: 76vw;
    padding-bottom: 0;
    margin-bottom: 2rem;
  }
}
.copy__textlink {
  border-bottom: 1px solid;
}
.copy__textlink:hover,
.copy__textlink:active,
.copy__textlink:focus {
  border: none;
  border-radius: 2px;
  background-color: #e0d8e8;
  box-shadow: 0 0 0 2px #e0d8e8;
  color: black;
}
.copy__image {
  margin: 2rem -4vw;
}
@media screen and (max-width: 599px) {
  .copy__image {
    width: 96vw;
  }
}
@media screen and (min-width: 600px) {
  .copy__image {
    max-width: 24vw;
    max-height: 24vw;
    margin: 1rem 4vw;
  }
  .copy__image--left {
    float: left;
    margin-left: 0;
  }
  .copy__image--right {
    float: right;
    margin-right: 0;
  }
}
.copy__video {
  width: 100%;
  margin-top: 1rem;
}
.todo {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: left;
  background-color: lightskyblue;
  color: black;
  padding: 1rem;
}
@media screen and (min-width: 600px) {
  .todo {
    font-size: 1.15rem;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .todo {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
@media screen and (max-width: 599px) {
  .todo {
    margin: 1rem auto 1rem auto;
    width: 88vw;
  }
}
@media screen and (min-width: 600px) {
  .todo {
    width: 76vw;
    padding-bottom: 0;
    margin-bottom: 2rem;
  }
}
.homepage-thumbnails {
  text-align: left;
}
@media screen and (max-width: 599px) {
  .homepage-thumbnails {
    margin: 1rem auto 1rem auto;
    width: 88vw;
  }
}
@media screen and (max-width: 599px) {
  .homepage-thumbnails {
    width: 90vw;
  }
}
@media screen and (min-width: 600px) {
  .homepage-thumbnails {
    margin: 1rem -1vw 4rem -1vw;
    width: 76vw;
  }
}
.homepage-thumbnails__heading {
  color: white;
  text-shadow: 0 0 1vw black;
  line-height: 1em;
  background-color: rgba(127, 49, 34, 0.75);
  display: block;
  padding: 1vw;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.homepage-thumbnails li {
  background-color: #d6c5d9;
  margin: 1em;
  margin: 1vw;
  display: inline-block;
  vertical-align: bottom;
}
.homepage-thumbnails li:hover,
.homepage-thumbnails li:focus {
  background-color: #e0d8e8;
}
.homepage-thumbnails li a {
  display: block;
  position: relative;
}
.homepage-thumbnails li a img {
  width: 250px;
  max-width: 100%;
  min-height: 6em;
  max-height: 167px;
  line-height: 1em;
  opacity: 0.75;
  display: block;
  margin: 0 auto;
  background-color: #d6c5d9;
}
.homepage-thumbnails li a:hover img,
.homepage-thumbnails li a:focus img {
  opacity: 1;
}
.homepage-thumbnails li a:hover span.homepage-thumbnails__heading,
.homepage-thumbnails li a:focus span.homepage-thumbnails__heading {
  background-color: transparent;
}
@media screen and (min-width: 600px) {
  .homepage-thumbnails li {
    max-width: 36vw;
  }
}
@media screen and (max-width: 599px) {
  .homepage-thumbnails li {
    width: 43vw;
    margin: 1vw;
  }
}
@media screen and (max-width: 299px) {
  .homepage-thumbnails li {
    width: 88vw;
  }
  .homepage-thumbnails li a img {
    min-height: 55vw;
  }
}
#disqus_thread {
  text-align: left;
  text-align: center;
}
@media screen and (max-width: 599px) {
  #disqus_thread {
    margin: 1rem auto 1rem auto;
    width: 88vw;
  }
}
@media screen and (min-width: 600px) {
  #disqus_thread {
    margin: 1rem auto 1rem auto;
    width: 76vw;
  }
}
.disqus_thread__activation-button {
  padding: 1rem;
  margin: 1rem auto;
}
/*
#    ####    ##   #      #      ###### #####  #   #
#   #    #  #  #  #      #      #      #    #  # #
#   #      #    # #      #      #####  #    #   #
#   #  ### ###### #      #      #      #####    #
#   #    # #    # #      #      #      #   #    #
#    ####  #    # ###### ###### ###### #    #   #
http://www.patorjk.com/software/taag/#p=display&c=bash&f=Banner&t=gallery
*/
.gallery-thumbnails {
  text-align: left;
}
@media screen and (max-width: 599px) {
  .gallery-thumbnails {
    margin: 1rem auto 1rem auto;
    width: 88vw;
  }
}
@media screen and (max-width: 599px) {
  .gallery-thumbnails {
    width: 90vw;
  }
}
@media screen and (min-width: 600px) {
  .gallery-thumbnails {
    margin: 1rem -1vw 4rem -1vw;
    width: 76vw;
  }
}
.gallery-thumbnails a {
  margin: 1vw;
  display: inline-block;
  line-height: 0;
}
@media screen and (min-width: 600px) {
  .gallery-thumbnails a {
    max-width: 36vw;
  }
}
@media screen and (max-width: 599px) {
  .gallery-thumbnails a {
    width: 43vw;
    margin: 1vw;
  }
}
@media screen and (max-width: 299px) {
  .gallery-thumbnails a {
    width: 88vw;
  }
}
.gallery-thumbnails a img {
  width: 100%;
}
.chat--right,
.chat--left {
  padding: 0;
  margin: 0.5rem auto;
}
.chat--left {
  padding-right: 12vw;
}
.chat--right {
  padding-left: 12vw;
}
.chat__metadata {
  display: block;
  opacity: 0.5;
  margin-bottom: 1rem;
  padding: 1rem 0 0 0;
}
.chat__metadata--right {
  padding-left: 12vw;
}
